In [1]:
import numpy as np
import pandas as pd

In [29]:
dataTest = pd.read_csv('TestsetTugas1ML.csv')
dataTrain = pd.read_csv('TrainsetTugas1ML.csv')

In [7]:
dataTest

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week
0,26027,young,Private,HS-grad,Never-married,Craft-repair,Not-in-family,normal
1,26314,young,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal
2,31405,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
3,14736,adult,Private,Some-college,Divorced,Prof-specialty,Not-in-family,normal
4,27217,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,many
5,5951,young,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,normal
6,30067,young,Local-gov,Bachelors,Never-married,Craft-repair,Not-in-family,normal
7,28777,young,Self-emp-not-inc,Some-college,Never-married,Craft-repair,Not-in-family,normal
8,15390,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
9,18042,young,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal
10,5793,adult,Local-gov,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal
11,31274,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
12,17068,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,low
13,21894,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
14,24128,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
15,8550,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
16,1181,young,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal
17,11149,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
18,20836,young,Private,Some-college,Never-married,Prof-specialty,Not-in-family,normal
19,25766,adult,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
20,139,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
21,27160,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
22,8814,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal
23,11470,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
24,16694,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
25,26906,adult,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal
26,9890,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
27,9769,adult,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
28,11078,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
29,12924,young,Private,Bachelors,Never-married,Craft-repair,Not-in-family,many
30,26020,adult,Private,HS-grad,Never-married,Craft-repair,Not-in-family,normal
31,9017,young,Private,Some-college,Divorced,Exec-managerial,Not-in-family,normal
32,10243,adult,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
33,10882,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
34,19535,young,Self-emp-not-inc,HS-grad,Never-married,Craft-repair,Not-in-family,normal
35,4565,adult,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal
36,29102,young,Private,Some-college,Never-married,Exec-managerial,Not-in-family,normal
37,26673,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
38,29415,adult,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,normal
39,17397,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal

In [87]:
dataTrain

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week,income
0,4776,1,0,0,0,0,0,1,>50K
1,8173,1,0,1,1,0,1,1,>50K
2,23423,1,0,0,0,0,0,1,>50K
3,1818,1,0,2,0,1,0,1,<=50K
4,14894,1,0,1,2,2,1,1,>50K
5,13128,1,1,1,0,0,0,1,>50K
6,29619,1,0,0,0,0,0,1,>50K
7,2308,1,0,1,0,0,0,1,>50K
8,9606,1,2,0,2,1,1,1,<=50K
9,15394,1,0,1,0,2,0,1,>50K
10,14741,1,0,2,0,2,0,1,>50K
11,21019,1,1,2,0,1,0,1,>50K
12,9847,1,2,0,0,1,0,1,>50K
13,12546,1,0,1,0,2,0,1,>50K
14,8930,1,0,2,2,1,1,1,<=50K
15,2603,1,0,2,2,2,1,1,>50K
16,16168,1,0,1,1,0,1,1,>50K
17,16165,1,0,2,0,2,0,1,>50K
18,26180,1,0,0,0,0,0,1,>50K
19,8209,1,0,1,0,2,0,1,>50K
20,14147,1,0,1,0,2,0,1,>50K
21,10512,1,0,2,0,1,0,1,>50K
22,21375,1,0,1,0,0,0,1,>50K
23,23562,1,0,1,0,2,0,1,>50K
24,19154,1,0,1,0,0,0,1,>50K
25,11091,1,0,0,0,0,0,1,>50K
26,12232,1,0,0,0,2,0,1,>50K
27,19725,1,2,1,0,0,0,1,>50K
28,24980,1,0,0,0,1,0,1,<=50K
29,7834,1,0,2,2,1,1,1,>50K
...,...,...,...,...,...,...,...,...,...
130,8195,1,0,1,0,0,0,1,>50K
131,18210,1,0,0,0,1,0,1,>50K
132,5748,1,0,0,0,2,0,1,>50K
133,20883,1,0,0,1,0,2,1,<=50K
134,28940,1,0,1,0,0,0,1,>50K
135,32117,1,0,2,0,1,0,1,>50K
136,9639,1,0,1,0,2,0,1,>50K
137,23052,1,0,1,0,2,0,1,>50K
138,12503,1,0,2,0,1,0,1,>50K
139,29275,1,0,1,0,2,0,1,<=50K
140,20928,1,0,0,0,2,0,1,>50K
141,16832,1,0,1,0,2,0,1,>50K
142,15777,2,0,2,0,1,0,2,>50K
143,10409,1,0,1,0,2,0,1,>50K
144,5470,1,2,2,2,1,1,1,<=50K
145,28990,1,2,0,0,2,0,1,<=50K
146,3348,1,0,2,0,1,0,1,<=50K
147,27044,1,0,1,0,1,0,1,>50K
148,14364,1,0,0,1,1,1,1,<=50K
149,32484,1,0,0,2,2,1,1,<=50K
150,8910,1,0,1,0,0,0,1,>50K
151,14676,1,0,2,0,2,0,1,>50K
152,25586,1,0,0,0,1,0,1,>50K
153,23955,1,0,2,0,1,0,1,>50K
154,11007,1,0,0,0,2,0,1,>50K
155,26037,1,0,2,0,0,0,1,>50K
156,12777,1,0,0,2,1,1,1,<=50K
157,11461,1,0,0,0,1,0,1,<=50K
158,31461,1,0,2,0,1,0,1,>50K
159,23157,0,1,2,0,2,0,0,<=50K

In [88]:
dT = dataTrain
for j in range(len(dT.columns)-2):
    col = dT.columns[j+1]
    ### print(col)
    
    for i in dT.index:
        d = dT[col][i]
        if ((d == 'young') or (d == 'Private') or (d == 'Some-college') or (d == 'Married-civ-spouse') or (d == 'Prof-specialty') or (d == 'Husband') or (d == 'low')):
            dT[col][i] = 0

        elif ((d == 'adult') or (d == 'Local-gov') or (d == 'Bachelors') or (d == 'Never-married') or (d == 'Craft-repair') or (d == 'Not-in-family') or (d == 'normal')):
            dT[col][i] = 1
       
        elif ((d == 'old') or (d == 'Self-emp-not-inc') or (d == 'HS-grad') or (d == 'Divorced') or (d == 'Exec-managerial') or (d == 'Own-child') or (d == 'many')):
            dT[col][i] = 2
        
dataTrain

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week,income
0,4776,1,0,0,0,0,0,1,>50K
1,8173,1,0,1,1,0,1,1,>50K
2,23423,1,0,0,0,0,0,1,>50K
3,1818,1,0,2,0,1,0,1,<=50K
4,14894,1,0,1,2,2,1,1,>50K
5,13128,1,1,1,0,0,0,1,>50K
6,29619,1,0,0,0,0,0,1,>50K
7,2308,1,0,1,0,0,0,1,>50K
8,9606,1,2,0,2,1,1,1,<=50K
9,15394,1,0,1,0,2,0,1,>50K
10,14741,1,0,2,0,2,0,1,>50K
11,21019,1,1,2,0,1,0,1,>50K
12,9847,1,2,0,0,1,0,1,>50K
13,12546,1,0,1,0,2,0,1,>50K
14,8930,1,0,2,2,1,1,1,<=50K
15,2603,1,0,2,2,2,1,1,>50K
16,16168,1,0,1,1,0,1,1,>50K
17,16165,1,0,2,0,2,0,1,>50K
18,26180,1,0,0,0,0,0,1,>50K
19,8209,1,0,1,0,2,0,1,>50K
20,14147,1,0,1,0,2,0,1,>50K
21,10512,1,0,2,0,1,0,1,>50K
22,21375,1,0,1,0,0,0,1,>50K
23,23562,1,0,1,0,2,0,1,>50K
24,19154,1,0,1,0,0,0,1,>50K
25,11091,1,0,0,0,0,0,1,>50K
26,12232,1,0,0,0,2,0,1,>50K
27,19725,1,2,1,0,0,0,1,>50K
28,24980,1,0,0,0,1,0,1,<=50K
29,7834,1,0,2,2,1,1,1,>50K
...,...,...,...,...,...,...,...,...,...
130,8195,1,0,1,0,0,0,1,>50K
131,18210,1,0,0,0,1,0,1,>50K
132,5748,1,0,0,0,2,0,1,>50K
133,20883,1,0,0,1,0,2,1,<=50K
134,28940,1,0,1,0,0,0,1,>50K
135,32117,1,0,2,0,1,0,1,>50K
136,9639,1,0,1,0,2,0,1,>50K
137,23052,1,0,1,0,2,0,1,>50K
138,12503,1,0,2,0,1,0,1,>50K
139,29275,1,0,1,0,2,0,1,<=50K
140,20928,1,0,0,0,2,0,1,>50K
141,16832,1,0,1,0,2,0,1,>50K
142,15777,2,0,2,0,1,0,2,>50K
143,10409,1,0,1,0,2,0,1,>50K
144,5470,1,2,2,2,1,1,1,<=50K
145,28990,1,2,0,0,2,0,1,<=50K
146,3348,1,0,2,0,1,0,1,<=50K
147,27044,1,0,1,0,1,0,1,>50K
148,14364,1,0,0,1,1,1,1,<=50K
149,32484,1,0,0,2,2,1,1,<=50K
150,8910,1,0,1,0,0,0,1,>50K
151,14676,1,0,2,0,2,0,1,>50K
152,25586,1,0,0,0,1,0,1,>50K
153,23955,1,0,2,0,1,0,1,>50K
154,11007,1,0,0,0,2,0,1,>50K
155,26037,1,0,2,0,0,0,1,>50K
156,12777,1,0,0,2,1,1,1,<=50K
157,11461,1,0,0,0,1,0,1,<=50K
158,31461,1,0,2,0,1,0,1,>50K
159,23157,0,1,2,0,2,0,0,<=50K

In [86]:
dataTrain

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week,income
0,4776,1,0,0,0,0,0,1,>50K
1,8173,1,0,1,1,0,1,1,>50K
2,23423,1,0,0,0,0,0,1,>50K
3,1818,1,0,2,0,1,0,1,<=50K
4,14894,1,0,1,2,2,1,1,>50K
5,13128,1,1,1,0,0,0,1,>50K
6,29619,1,0,0,0,0,0,1,>50K
7,2308,1,0,1,0,0,0,1,>50K
8,9606,1,2,0,2,1,1,1,<=50K
9,15394,1,0,1,0,2,0,1,>50K
10,14741,1,0,2,0,2,0,1,>50K
11,21019,1,1,2,0,1,0,1,>50K
12,9847,1,2,0,0,1,0,1,>50K
13,12546,1,0,1,0,2,0,1,>50K
14,8930,1,0,2,2,1,1,1,<=50K
15,2603,1,0,2,2,2,1,1,>50K
16,16168,1,0,1,1,0,1,1,>50K
17,16165,1,0,2,0,2,0,1,>50K
18,26180,1,0,0,0,0,0,1,>50K
19,8209,1,0,1,0,2,0,1,>50K
20,14147,1,0,1,0,2,0,1,>50K
21,10512,1,0,2,0,1,0,1,>50K
22,21375,1,0,1,0,0,0,1,>50K
23,23562,1,0,1,0,2,0,1,>50K
24,19154,1,0,1,0,0,0,1,>50K
25,11091,1,0,0,0,0,0,1,>50K
26,12232,1,0,0,0,2,0,1,>50K
27,19725,1,2,1,0,0,0,1,>50K
28,24980,1,0,0,0,1,0,1,<=50K
29,7834,1,0,2,2,1,1,1,>50K
...,...,...,...,...,...,...,...,...,...
130,8195,1,0,1,0,0,0,1,>50K
131,18210,1,0,0,0,1,0,1,>50K
132,5748,1,0,0,0,2,0,1,>50K
133,20883,1,0,0,1,0,2,1,<=50K
134,28940,1,0,1,0,0,0,1,>50K
135,32117,1,0,2,0,1,0,1,>50K
136,9639,1,0,1,0,2,0,1,>50K
137,23052,1,0,1,0,2,0,1,>50K
138,12503,1,0,2,0,1,0,1,>50K
139,29275,1,0,1,0,2,0,1,<=50K
140,20928,1,0,0,0,2,0,1,>50K
141,16832,1,0,1,0,2,0,1,>50K
142,15777,2,0,2,0,1,0,2,>50K
143,10409,1,0,1,0,2,0,1,>50K
144,5470,1,2,2,2,1,1,1,<=50K
145,28990,1,2,0,0,2,0,1,<=50K
146,3348,1,0,2,0,1,0,1,<=50K
147,27044,1,0,1,0,1,0,1,>50K
148,14364,1,0,0,1,1,1,1,<=50K
149,32484,1,0,0,2,2,1,1,<=50K
150,8910,1,0,1,0,0,0,1,>50K
151,14676,1,0,2,0,2,0,1,>50K
152,25586,1,0,0,0,1,0,1,>50K
153,23955,1,0,2,0,1,0,1,>50K
154,11007,1,0,0,0,2,0,1,>50K
155,26037,1,0,2,0,0,0,1,>50K
156,12777,1,0,0,2,1,1,1,<=50K
157,11461,1,0,0,0,1,0,1,<=50K
158,31461,1,0,2,0,1,0,1,>50K
159,23157,0,1,2,0,2,0,0,<=50K