In [2]:
import numpy as np
import pandas as pd

In [3]:
dataTest = pd.read_csv('TestsetTugas1ML.csv')
dataTrain = pd.read_csv('TrainsetTugas1ML.csv')

In [4]:
dataTest

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week
0,26027,young,Private,HS-grad,Never-married,Craft-repair,Not-in-family,normal
1,26314,young,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal
2,31405,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
3,14736,adult,Private,Some-college,Divorced,Prof-specialty,Not-in-family,normal
4,27217,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,many
5,5951,young,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,normal
6,30067,young,Local-gov,Bachelors,Never-married,Craft-repair,Not-in-family,normal
7,28777,young,Self-emp-not-inc,Some-college,Never-married,Craft-repair,Not-in-family,normal
8,15390,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
9,18042,young,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal
10,5793,adult,Local-gov,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal
11,31274,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
12,17068,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,low
13,21894,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
14,24128,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
15,8550,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
16,1181,young,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal
17,11149,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
18,20836,young,Private,Some-college,Never-married,Prof-specialty,Not-in-family,normal
19,25766,adult,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
20,139,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
21,27160,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
22,8814,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal
23,11470,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
24,16694,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
25,26906,adult,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal
26,9890,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
27,9769,adult,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal
28,11078,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal
29,12924,young,Private,Bachelors,Never-married,Craft-repair,Not-in-family,many
30,26020,adult,Private,HS-grad,Never-married,Craft-repair,Not-in-family,normal
31,9017,young,Private,Some-college,Divorced,Exec-managerial,Not-in-family,normal
32,10243,adult,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,normal
33,10882,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
34,19535,young,Self-emp-not-inc,HS-grad,Never-married,Craft-repair,Not-in-family,normal
35,4565,adult,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal
36,29102,young,Private,Some-college,Never-married,Exec-managerial,Not-in-family,normal
37,26673,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal
38,29415,adult,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,normal
39,17397,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal

In [5]:
dataTrain

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week,income
0,4776,young,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
1,8173,adult,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,normal,>50K
2,23423,young,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
3,1818,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
4,14894,adult,Private,Bachelors,Divorced,Exec-managerial,Not-in-family,normal,>50K
5,13128,adult,Local-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
6,29619,adult,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
7,2308,adult,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
8,9606,adult,Self-emp-not-inc,Some-college,Divorced,Craft-repair,Not-in-family,normal,<=50K
9,15394,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
10,14741,young,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
11,21019,adult,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
12,9847,young,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,>50K
13,12546,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
14,8930,adult,Private,HS-grad,Divorced,Craft-repair,Not-in-family,normal,<=50K
15,2603,young,Private,HS-grad,Divorced,Exec-managerial,Not-in-family,normal,>50K
16,16168,young,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,normal,>50K
17,16165,adult,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
18,26180,adult,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
19,8209,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
20,14147,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
21,10512,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
22,21375,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
23,23562,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
24,19154,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
25,11091,adult,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
26,12232,young,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
27,19725,young,Self-emp-not-inc,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
28,24980,young,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
29,7834,young,Private,HS-grad,Divorced,Craft-repair,Not-in-family,normal,>50K
...,...,...,...,...,...,...,...,...,...
130,8195,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
131,18210,young,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,>50K
132,5748,young,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
133,20883,young,Private,Some-college,Never-married,Prof-specialty,Own-child,normal,<=50K
134,28940,adult,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
135,32117,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
136,9639,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
137,23052,old,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
138,12503,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
139,29275,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,<=50K
140,20928,adult,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
141,16832,adult,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
142,15777,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,many,>50K
143,10409,young,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
144,5470,young,Self-emp-not-inc,HS-grad,Divorced,Craft-repair,Not-in-family,normal,<=50K
145,28990,young,Self-emp-not-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,<=50K
146,3348,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
147,27044,young,Private,Bachelors,Married-civ-spouse,Craft-repair,Husband,normal,>50K
148,14364,young,Private,Some-college,Never-married,Craft-repair,Not-in-family,normal,<=50K
149,32484,adult,Private,Some-college,Divorced,Exec-managerial,Not-in-family,normal,<=50K
150,8910,young,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
151,14676,adult,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
152,25586,young,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,>50K
153,23955,young,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
154,11007,adult,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,normal,>50K
155,26037,young,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,normal,>50K
156,12777,adult,Private,Some-college,Divorced,Craft-repair,Not-in-family,normal,<=50K
157,11461,adult,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,normal,<=50K
158,31461,adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,normal,>50K
159,23157,old,Local-gov,HS-grad,Married-civ-spouse,Exec-managerial,Husband,low,<=50K

In [6]:
dT = dataTrain
for j in range(len(dT.columns)-2):
    col = dT.columns[j+1]
    ### print(col)
    
    for i in dT.index:
        d = dT[col][i] ### get value from columns
        if ((d == 'young') or (d == 'Private') or (d == 'Some-college') or (d == 'Married-civ-spouse') or (d == 'Prof-specialty') or (d == 'Husband') or (d == 'low')):
            dT[col][i] = 0

        elif ((d == 'adult') or (d == 'Local-gov') or (d == 'Bachelors') or (d == 'Never-married') or (d == 'Craft-repair') or (d == 'Not-in-family') or (d == 'normal')):
            dT[col][i] = 1
       
        elif ((d == 'old') or (d == 'Self-emp-not-inc') or (d == 'HS-grad') or (d == 'Divorced') or (d == 'Exec-managerial') or (d == 'Own-child') or (d == 'many')):
            dT[col][i] = 2
        
dataTrain

/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week,income
0,4776,0,0,0,0,0,0,1,>50K
1,8173,1,0,1,1,0,1,1,>50K
2,23423,0,0,0,0,0,0,1,>50K
3,1818,1,0,2,0,1,0,1,<=50K
4,14894,1,0,1,2,2,1,1,>50K
5,13128,1,1,1,0,0,0,1,>50K
6,29619,1,0,0,0,0,0,1,>50K
7,2308,1,0,1,0,0,0,1,>50K
8,9606,1,2,0,2,1,1,1,<=50K
9,15394,1,0,1,0,2,0,1,>50K
10,14741,0,0,2,0,2,0,1,>50K
11,21019,1,1,2,0,1,0,1,>50K
12,9847,0,2,0,0,1,0,1,>50K
13,12546,0,0,1,0,2,0,1,>50K
14,8930,1,0,2,2,1,1,1,<=50K
15,2603,0,0,2,2,2,1,1,>50K
16,16168,0,0,1,1,0,1,1,>50K
17,16165,1,0,2,0,2,0,1,>50K
18,26180,1,0,0,0,0,0,1,>50K
19,8209,0,0,1,0,2,0,1,>50K
20,14147,0,0,1,0,2,0,1,>50K
21,10512,0,0,2,0,1,0,1,>50K
22,21375,0,0,1,0,0,0,1,>50K
23,23562,1,0,1,0,2,0,1,>50K
24,19154,0,0,1,0,0,0,1,>50K
25,11091,1,0,0,0,0,0,1,>50K
26,12232,0,0,0,0,2,0,1,>50K
27,19725,0,2,1,0,0,0,1,>50K
28,24980,0,0,0,0,1,0,1,<=50K
29,7834,0,0,2,2,1,1,1,>50K
...,...,...,...,...,...,...,...,...,...
130,8195,0,0,1,0,0,0,1,>50K
131,18210,0,0,0,0,1,0,1,>50K
132,5748,0,0,0,0,2,0,1,>50K
133,20883,0,0,0,1,0,2,1,<=50K
134,28940,1,0,1,0,0,0,1,>50K
135,32117,1,0,2,0,1,0,1,>50K
136,9639,1,0,1,0,2,0,1,>50K
137,23052,2,0,1,0,2,0,1,>50K
138,12503,0,0,2,0,1,0,1,>50K
139,29275,0,0,1,0,2,0,1,<=50K
140,20928,1,0,0,0,2,0,1,>50K
141,16832,1,0,1,0,2,0,1,>50K
142,15777,1,0,2,0,1,0,2,>50K
143,10409,0,0,1,0,2,0,1,>50K
144,5470,0,2,2,2,1,1,1,<=50K
145,28990,0,2,0,0,2,0,1,<=50K
146,3348,0,0,2,0,1,0,1,<=50K
147,27044,0,0,1,0,1,0,1,>50K
148,14364,0,0,0,1,1,1,1,<=50K
149,32484,1,0,0,2,2,1,1,<=50K
150,8910,0,0,1,0,0,0,1,>50K
151,14676,1,0,2,0,2,0,1,>50K
152,25586,0,0,0,0,1,0,1,>50K
153,23955,0,0,2,0,1,0,1,>50K
154,11007,1,0,0,0,2,0,1,>50K
155,26037,0,0,2,0,0,0,1,>50K
156,12777,1,0,0,2,1,1,1,<=50K
157,11461,1,0,0,0,1,0,1,<=50K
158,31461,1,0,2,0,1,0,1,>50K
159,23157,2,1,2,0,2,0,0,<=50K

In [7]:
less = [[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],
        [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],
        [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]]

more = [[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],
        [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],
        [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]]

### >50k [0][n]
### <=50k [1][n]
for i in dT.index: ###160
    if(dT['income'][i] == '>50K'):
        for j in range(len(dT.columns)-2):
            k= j+1
            if (dT[dT.columns[k]][i] == 0):
                more[0][k] = more[0][k] +1.0
            elif (dT[dT.columns[k]][i] == 1):
                more[1][k] = more[1][k] +1.0
            elif (dT[dT.columns[k]][i] == 2):
                more[2][k] = more[2][k] +1.0
        more[0][0] = more[0][0] +1.0
        
                  
    elif (dT['income'][i] == '<=50K'):
        for j in range(len(dT.columns)-2):
            k= j+1
            if (dT[dT.columns[k]][i] == 0):
                less[0][k] = less[0][k] +1.0
            elif (dT[dT.columns[k]][i] == 1):
                less[1][k] = less[1][k] +1.0
            elif (dT[dT.columns[k]][i] == 2):
                less[2][k] = less[2][k] +1.0
        less[0][0] = less[0][0] +1.0

more = np.array(more)
less=np.array(less)

print(more)
print('\n')
print(less)

[[ 120.   66.  105.   27.  108.   41.  107.    3.]
 [   0.   53.    8.   65.    7.   32.   11.  116.]
 [   0.    1.    7.   28.    5.   47.    2.    1.]]


[[ 40.  20.  32.  16.  19.   4.  19.   5.]
 [  0.  19.   1.   7.  14.  21.  14.  33.]
 [  0.   1.   7.  17.   7.  15.   7.   2.]]

In [8]:
dT = dataTest
for j in range(len(dT.columns)-1):
    col = dT.columns[j+1]
    ### print(col)
    
    for i in dT.index:
        d = dT[col][i] ### get value from columns
        if ((d == 'young') or (d == 'Private') or (d == 'Some-college') or (d == 'Married-civ-spouse') or (d == 'Prof-specialty') or (d == 'Husband') or (d == 'low')):
            dT[col][i] = 0

        elif ((d == 'adult') or (d == 'Local-gov') or (d == 'Bachelors') or (d == 'Never-married') or (d == 'Craft-repair') or (d == 'Not-in-family') or (d == 'normal')):
            dT[col][i] = 1
       
        elif ((d == 'old') or (d == 'Self-emp-not-inc') or (d == 'HS-grad') or (d == 'Divorced') or (d == 'Exec-managerial') or (d == 'Own-child') or (d == 'many')):
            dT[col][i] = 2
dataTest

/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,age,workclass,education,marital-status,occupation,relationship,hours-per-week
0,26027,0,0,2,1,1,1,1
1,26314,0,0,1,2,2,1,1
2,31405,0,0,1,0,0,0,1
3,14736,1,0,0,2,0,1,1
4,27217,0,0,2,0,2,0,2
5,5951,0,0,1,1,0,1,1
6,30067,0,1,1,1,1,1,1
7,28777,0,2,0,1,1,1,1
8,15390,1,0,0,0,1,0,1
9,18042,0,0,0,0,2,0,1
10,5793,1,1,2,0,2,0,1
11,31274,1,0,2,0,1,0,1
12,17068,0,0,2,0,1,0,0
13,21894,0,0,1,0,0,0,1
14,24128,1,0,1,0,2,0,1
15,8550,0,0,1,0,0,0,1
16,1181,0,0,1,2,2,1,1
17,11149,1,0,2,0,1,0,1
18,20836,0,0,0,1,0,1,1
19,25766,1,1,1,0,0,0,1
20,139,1,0,0,0,1,0,1
21,27160,0,0,1,0,2,0,1
22,8814,0,0,2,0,2,0,1
23,11470,0,0,1,0,2,0,1
24,16694,1,0,2,0,1,0,1
25,26906,1,0,1,0,1,0,1
26,9890,1,0,0,0,1,0,1
27,9769,1,0,1,0,0,0,1
28,11078,1,0,1,0,2,0,1
29,12924,0,0,1,1,1,1,2
30,26020,1,0,2,1,1,1,1
31,9017,0,0,0,2,2,1,1
32,10243,1,2,0,0,1,0,1
33,10882,0,0,2,0,1,0,1
34,19535,0,2,2,1,1,1,1
35,4565,1,0,1,0,1,0,1
36,29102,0,0,0,1,2,1,1
37,26673,1,0,2,0,1,0,1
38,29415,1,0,2,0,0,0,1
39,17397,1,0,0,0,1,0,1

In [9]:
print(more) ###bari pertama kolom pertama jumlah atribut yang  ada, baris ke1-3 adalah nilai setiap kolom berurutan 0-1-2
print('\n')
print(less)

[[ 120.   66.  105.   27.  108.   41.  107.    3.]
 [   0.   53.    8.   65.    7.   32.   11.  116.]
 [   0.    1.    7.   28.    5.   47.    2.    1.]]


[[ 40.  20.  32.  16.  19.   4.  19.   5.]
 [  0.  19.   1.   7.  14.  21.  14.  33.]
 [  0.   1.   7.  17.   7.  15.   7.   2.]]

In [10]:
listMore = []
listLess = []

for i in range(len(dataTest)):
    n = 0
    tmpMore = 1.0
    tmpLess = 1.0

    for j in dataTest.columns[1:]:
        n+=1
        
        if (dataTest[j][i] == 0):
            tmpMore = (more[0][n]/more[0][0]) * tmpMore
            tmpLess = (less[0][n]/less[0][0]) * tmpLess
        elif (dataTest[j][i] == 1):
            
            tmpMore = (more[1][n]/more[0][0]) * tmpMore
            tmpLess = (less[1][n]/less[0][0]) * tmpLess
        elif (dataTest[j][i] == 2):
            
            tmpMore = (more[2][n]/more[0][0]) * tmpMore
            tmpLess = (less[2][n]/less[0][0]) * tmpLess
    
    listMore.append(tmpMore * (more[0][0]/(more[0][0]+less[0][0])))
    listLess.append(tmpLess * (less[0][0]/(more[0][0]+less[0][0])))
print(listMore)
print('\n')
print(listLess)

[0.00011608670910493829, 0.00028272074004750188, 0.051818938395182298, 8.2267066107855887e-05, 0.00022059171549479169, 0.00034528022295163003, 2.0532343106995878e-05, 7.4627170138888894e-06, 0.01349077734375, 0.024674759033203139, 0.0015655963831018519, 0.01399043576388889, 0.00045057031250000007, 0.051818938395182298, 0.047701764797634549, 0.051818938395182298, 0.00028272074004750188, 0.01399043576388889, 0.00014342409261067712, 0.003170451642071759, 0.01349077734375, 0.059402197672526053, 0.025588638997395836, 0.059402197672526053, 0.01399043576388889, 0.032477797309027778, 0.01349077734375, 0.041612177802191848, 0.047701764797634549, 2.3231638213734568e-06, 9.3221145190329209e-05, 0.00011743784586588544, 0.00089938515625000008, 0.017422052083333334, 7.7391139403292192e-06, 0.032477797309027778, 0.0001644129842122396, 0.01399043576388889, 0.01792524582248264, 0.01349077734375]


[0.0022549570312499997, 0.00033161132812499993, 0.00032574609374999997, 0.00019201875, 0.00017979492187500002, 0.00017685937499999996, 2.9015991210937492e-05, 0.00046425585937499988, 0.0037135054687500004, 0.0027921093749999999, 8.807141876220703e-05, 0.0039455995605468756, 0.00062928222656249999, 0.00032574609374999997, 0.0011604704589843744, 0.00032574609374999997, 0.00033161132812499993, 0.0039455995605468756, 0.00040425000000000004, 9.6705871582031215e-06, 0.0037135054687500004, 0.0012215478515624995, 0.0029666162109375002, 0.0012215478515624995, 0.0039455995605468756, 0.0016246586425781246, 0.0037135054687500004, 0.00030945878906249989, 0.0011604704589843744, 5.6273437499999988e-05, 0.0021422091796874996, 0.00075796875000000007, 0.00081232932128906228, 0.0041532626953124999, 0.0004932718505859375, 0.0016246586425781246, 0.0015159375000000001, 0.0039455995605468756, 0.00075154277343750004, 0.0037135054687500004]

In [11]:
listMore

[0.00011608670910493829,
 0.00028272074004750188,
 0.051818938395182298,
 8.2267066107855887e-05,
 0.00022059171549479169,
 0.00034528022295163003,
 2.0532343106995878e-05,
 7.4627170138888894e-06,
 0.01349077734375,
 0.024674759033203139,
 0.0015655963831018519,
 0.01399043576388889,
 0.00045057031250000007,
 0.051818938395182298,
 0.047701764797634549,
 0.051818938395182298,
 0.00028272074004750188,
 0.01399043576388889,
 0.00014342409261067712,
 0.003170451642071759,
 0.01349077734375,
 0.059402197672526053,
 0.025588638997395836,
 0.059402197672526053,
 0.01399043576388889,
 0.032477797309027778,
 0.01349077734375,
 0.041612177802191848,
 0.047701764797634549,
 2.3231638213734568e-06,
 9.3221145190329209e-05,
 0.00011743784586588544,
 0.00089938515625000008,
 0.017422052083333334,
 7.7391139403292192e-06,
 0.032477797309027778,
 0.0001644129842122396,
 0.01399043576388889,
 0.01792524582248264,
 0.01349077734375]

In [12]:
listLess

[0.0022549570312499997,
 0.00033161132812499993,
 0.00032574609374999997,
 0.00019201875,
 0.00017979492187500002,
 0.00017685937499999996,
 2.9015991210937492e-05,
 0.00046425585937499988,
 0.0037135054687500004,
 0.0027921093749999999,
 8.807141876220703e-05,
 0.0039455995605468756,
 0.00062928222656249999,
 0.00032574609374999997,
 0.0011604704589843744,
 0.00032574609374999997,
 0.00033161132812499993,
 0.0039455995605468756,
 0.00040425000000000004,
 9.6705871582031215e-06,
 0.0037135054687500004,
 0.0012215478515624995,
 0.0029666162109375002,
 0.0012215478515624995,
 0.0039455995605468756,
 0.0016246586425781246,
 0.0037135054687500004,
 0.00030945878906249989,
 0.0011604704589843744,
 5.6273437499999988e-05,
 0.0021422091796874996,
 0.00075796875000000007,
 0.00081232932128906228,
 0.0041532626953124999,
 0.0004932718505859375,
 0.0016246586425781246,
 0.0015159375000000001,
 0.0039455995605468756,
 0.00075154277343750004,
 0.0037135054687500004]

In [13]:
tebakan = []
for i in range(40):
    if (listMore[i] > listLess[i]):
        tebakan.append(">=50K")
    else:
        tebakan.append("<50K")
tebakan

['<50K',
 '<50K',
 '>=50K',
 '<50K',
 '>=50K',
 '>=50K',
 '<50K',
 '<50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '<50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '<50K',
 '>=50K',
 '<50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '>=50K',
 '<50K',
 '<50K',
 '<50K',
 '>=50K',
 '>=50K',
 '<50K',
 '>=50K',
 '<50K',
 '>=50K',
 '>=50K',
 '>=50K']

In [21]:
kurang = 0.0
lebih= 0.0
for i in tebakan:
    if i == "<50K":
        kurang += 1.0
    else:
        lebih +=1.0
print("Income <50K :", (kurang/40.0)* 100.0)
print("Income <50K :", (lebih/40.0) * 100.0)

('Income <50K :', 32.5)
('Income <50K :', 67.5)